:root{
	--color-autocomplete-hover-bg:var(--bg-brand-hover);
	--color-autocomplete-hover-text:var(--white);
	--color-autocomplete-normal-bg:var(--bg-white);
	--color-autocomplete-normal-text:var(--text-secondary);
	--color-autocomplete-border-color:var(--surface-border);
}
input.table-autocomplete-input{
	padding-right:calc(1.5em + 12px + 12px) !important;
}
.table-autocomplete-hidden{
	display:none !important;
}
.table-autocomplete-container{
	position:absolute;
	top:0;
	left:0;
}
.table-autocomplete-container.table-autocomplete-fixed{
	position:fixed;
}
.table-autocomplete-whisper{
	position:relative;
	border:1px solid var(--color-autocomplete-border-color);
    padding:0;
	margin-top:1px;
	background:var(--color-autocomplete-normal-bg);
	display:flex;
	flex-direction:column;
	max-width:800px;
}
.table-autocomplete-loading{
	color:var(--color-autocomplete-hover-bg);
	margin:5px 0;
	align-self:center;
}
.table-autocomplete-loading,
.table-autocomplete-loading:after {
	box-sizing:border-box;
}
.table-autocomplete-loading{
	display:inline-block;
	width:40px;
	height:40px;
}
.table-autocomplete-loading:after{
	content: " ";
	display: block;
	width:32px;
	height:32px;
	margin:4px;
	border-radius:50%;
	border:3.2px solid currentColor;
	border-color:currentColor transparent currentColor transparent;
	animation:table-auto-complete-loading 1.2s linear infinite;
}
@keyframes table-auto-complete-loading{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.table-autocomplete-options{
	overflow-y: auto;
}
.table-autocomplete-option{
    display:flex;
    flex-direction:row;
}
.table-autocomplete-button{
	display:block;
	white-space:nowrap;
	width:100%;
    text-align:left;
    border:0;
    outline:0;
    padding:5.5px 11px;
	line-height:2.6em;
    height:40px;
	background:transparent;
	cursor:pointer;
	color:var(--color-autocomplete-normal-text);
}
.table-autocomplete-option-active .table-autocomplete-button,
.table-autocomplete-option:hover .table-autocomplete-button{
    background:var(--color-autocomplete-hover-bg);
	color:var(--color-autocomplete-hover-text);
}
.table-autocomplete-clear-button{
	position:absolute;
	background:transparent !important;
	color:var(--color-autocomplete-normal-text);
	font-size:100%;
	font-weight:bold;
	width:1.5em;
	height:1.5em;
	line-height:1.5em;
	border:0 !important;
	outline:0;
	border-radius:3px;
	cursor:pointer;
	z-index:1000;
	top:8px;
    right:8px;
}
form.tbd-form .table-autocomplete-clear-button{
	top:35px;
	right:23px;
}
.table-autocomplete-clear-button:not(.disabled):hover,
.table-autocomplete-clear-button:not(.disabled):focus,
.table-autocomplete-clear-button:not(.disabled):active{
	background:var(--color-autocomplete-hover-bg) !important;
	color:var(--color-autocomplete-hover-text);
}